@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%; /* or you might want to set a specific max-width depending on your design */
    width: 100%;
}
